<template>
  <gl-modal modal-id="basic-modal-id" title="Example title">
    <child-component />
  </gl-modal>
</template>

<script>
import { GlModal } from "@gitlab/ui";
import ChildComponent from "./ChildComponent.vue";

export default {
  components: {
    ChildComponent,
    GlModal,
  },
};
</script>
